<template name="downloads">
  <div class="container">
    <div class="row">
        <div class="col s12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">הוספת הורדה</span>
              <p></p>
              <input placeholder="Link" id="linkTxt" type="text" class="validate inline" >
              <button id="addBtn" class="waves-effect waves-light btn inline" >הוסף</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="collection">
        {{#each allDownloads}}
        <li class="collection-item avatar" style="background-color:rgba(0,0,0,0)">
          <i class="material-icons circle {{getStateColor state}} circle">movie</i>
          <span class="title">{{{shortenLink link}}}</span>
          <p>{{filename}} <br>
            {{#if isDownloading}}
            {{> progressCircle progress=progress radius="35" class="green"}}
            {{else}}
            {{/if}}
          </p>
          <div class="secondary-content">
            {{{getState state}}}
            <a href="#!" class="delBtn"><i class="material-icons">delete</i></a>
          </div>
        </li>
        {{/each}}
    </ul>
</div>
</template>
<template name="delModal">
  {{#modalizeBody}}
    <h4>Delete download</h4>
    <p>Are you sure you want to delete this download?</p>
    <p>This is irreverseable!</p>
  {{/modalizeBody}}
  {{#modalizeFooter}}
    <button data-modalize-close class="waves-effect waves-red btn-flat">No</button>
    <button data-modalize-close class="waves-effect waves-green btn-flat" id="delBtn">Yes</button>
  {{/modalizeFooter}}
</template>
